@tailwind base;
@tailwind components;
@tailwind utilities;


.menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    width: 250px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
}

.menu.is-active {
    transform: translateX(0);
    z-index: 200;
}

.burger-button {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .burger-button {
        display: block;
    }
}
